04. CLIESC/cli_EUREKABANK_esc_Java_Soap/src/wsdl/localhost_8080/ws_EUREKABANK_Java_Soap_GR6/EurekaBankWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.eurekabank.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.eurekabank.com/" name="EurekaBankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.eurekabank.com/" schemaLocation="http://localhost:8080/ws_EUREKABANK_Java_Soap_GR6/EurekaBankWS?xsd=1"/>
</xsd:schema>
</types>
<message name="listarCuentasPorSucursal">
<part name="parameters" element="tns:listarCuentasPorSucursal"/>
</message>
<message name="listarCuentasPorSucursalResponse">
<part name="parameters" element="tns:listarCuentasPorSucursalResponse"/>
</message>
<message name="depositar">
<part name="parameters" element="tns:depositar"/>
</message>
<message name="depositarResponse">
<part name="parameters" element="tns:depositarResponse"/>
</message>
<message name="retirar">
<part name="parameters" element="tns:retirar"/>
</message>
<message name="retirarResponse">
<part name="parameters" element="tns:retirarResponse"/>
</message>
<message name="transferir">
<part name="parameters" element="tns:transferir"/>
</message>
<message name="transferirResponse">
<part name="parameters" element="tns:transferirResponse"/>
</message>
<message name="consultarExtracto">
<part name="parameters" element="tns:consultarExtracto"/>
</message>
<message name="consultarExtractoResponse">
<part name="parameters" element="tns:consultarExtractoResponse"/>
</message>
<message name="autenticarUsuario">
<part name="parameters" element="tns:autenticarUsuario"/>
</message>
<message name="autenticarUsuarioResponse">
<part name="parameters" element="tns:autenticarUsuarioResponse"/>
</message>
<portType name="EurekaBankWS">
<operation name="listarCuentasPorSucursal">
<input wsam:Action="http://ws.eurekabank.com/EurekaBankWS/listarCuentasPorSucursalRequest" message="tns:listarCuentasPorSucursal"/>
<output wsam:Action="http://ws.eurekabank.com/EurekaBankWS/listarCuentasPorSucursalResponse" message="tns:listarCuentasPorSucursalResponse"/>
</operation>
<operation name="depositar">
<input wsam:Action="http://ws.eurekabank.com/EurekaBankWS/depositarRequest" message="tns:depositar"/>
<output wsam:Action="http://ws.eurekabank.com/EurekaBankWS/depositarResponse" message="tns:depositarResponse"/>
</operation>
<operation name="retirar">
<input wsam:Action="http://ws.eurekabank.com/EurekaBankWS/retirarRequest" message="tns:retirar"/>
<output wsam:Action="http://ws.eurekabank.com/EurekaBankWS/retirarResponse" message="tns:retirarResponse"/>
</operation>
<operation name="transferir">
<input wsam:Action="http://ws.eurekabank.com/EurekaBankWS/transferirRequest" message="tns:transferir"/>
<output wsam:Action="http://ws.eurekabank.com/EurekaBankWS/transferirResponse" message="tns:transferirResponse"/>
</operation>
<operation name="consultarExtracto">
<input wsam:Action="http://ws.eurekabank.com/EurekaBankWS/consultarExtractoRequest" message="tns:consultarExtracto"/>
<output wsam:Action="http://ws.eurekabank.com/EurekaBankWS/consultarExtractoResponse" message="tns:consultarExtractoResponse"/>
</operation>
<operation name="autenticarUsuario">
<input wsam:Action="http://ws.eurekabank.com/EurekaBankWS/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
<output wsam:Action="http://ws.eurekabank.com/EurekaBankWS/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
</operation>
</portType>
<binding name="EurekaBankWSPortBinding" type="tns:EurekaBankWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarCuentasPorSucursal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retirar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transferir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarExtracto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EurekaBankWS">
<port name="EurekaBankWSPort" binding="tns:EurekaBankWSPortBinding">
<soap:address location="http://localhost:8080/ws_EUREKABANK_Java_Soap_GR6/EurekaBankWS"/>
</port>
</service>
</definitions>